
<html>
<head>
    
</head>
<body>
    <div> 
        This is Razor Demo practical.
    </div>
    <div>
        @DateTime.Now
    </div>
    <div>
        @(3 + 4)
    </div>
    @{ 
        var a = 1;
        var b = 2;
        var c = a + b;
        var currenttime = DateTime.Now;
        var tomorrowtime = DateTime.Now.AddDays(1);
        var colorlist = new List<String>() { "red", "green" };
    }
    <div>
        <label>@c</label><br>
        <label>currenttime -  @currenttime</label><br>
        <label>tomorrowtime - @tomorrowtime</label><br>
        <label>@colorlist.LastOrDefault()</label>
    </div>
    <div>
        @*escap code like two @ use to escap;*@
        my twitter account - @@raj_chavda
    </div>
</body>
</html>
