@using Html_Helper1.Models
@model Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.DisplayName("name")
        <br>
        @Html.DisplayNameFor(model => model.dateofbirth)
    <br />
    <br />  
        @Html.DisplayText("name")
        @Html.DisplayTextFor(m=>m.dateofbirth)
    <br />
    <br />
        @Html.Display("name")
    </div>
    <br />
    <br />
    @*model full value*@
    @Html.DisplayForModel()

    <br>
    <br />
    
</body>
</html>
