<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @*This One view in move*@
        @Html.ActionLink("View Page","About") 

        @*One controller to other view in move*@
        @Html.ActionLink("Click Me","index","Home")
    </div>
    <div>
        @*Create textbox*@
        @Html.TextBox("txtbox1")
    </div>
    <div>
        @*One text in any attribute can change like txtbox-id,textbox-value,etc*@
        <br>
        @Html.TextBox("txt1",null,new {placeholder = "Enter name"})
        
    </div>
    <br>
    @Html.TextBox("txt3",null, new { @class = "myclass",style = "width:500px"})
    <br />
  
    @Html.CheckBox("chk1",new { })
<br />
    @Html.Password("pwd")
<br />  
<br />
     @{ 
         string name = ".net";
     }
    @Html.RadioButton("rbd1",name,isChecked:false)
</body>
</html>
